@model ProjektDyplomowy.Models.Rental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yacht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yacht.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithSkipper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithSkipper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SailingLicenseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SailingLicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadioOperatorLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadioOperatorLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseValidUntil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
