@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<div style="margin-bottom: 10px;">
    <a href="#" id="add-user-link" class="add-user-link">Add User</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a href="@Url.Action("EditUser", "Admin", new { id = user.Id })" class="edit-user-link btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteUser", "Admin", new { id = user.Id })" class="delete-user-link btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
